@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
    font-family: 'Raleway', sans-serif;
    color: rgb(73, 73, 73);
}
h2 {
  font-family: 'Oswald', sans-serif;
  color: rgb(46, 160, 150);
  font-size: 3vw;
  font-weight: 300;
	text-transform: uppercase;
}


/* Style 9
   ----------------------------- */
   .nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }

.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 100px;
}

input#search {
    color: inherit;
    padding: 12px 10px;
    width: 60vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    outline: none;
}

/* CSS */
.button-76 {
  background-color: #cf245f;
  background-image: linear-gradient(to right, #2f6e6f, #211a0c);
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-76:hover {
  box-shadow: none;
}

@media (min-width: 1024px) {
  .button-76 {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 2rem;
    margin-top: 20px;
  }
}

.img-container {
  margin-top: 10px;
}